<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @objective.project %>
</p>

<p>
  <strong>Code:</strong>
  <%= @objective.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @objective.description %>
</p>

<%= link_to 'Edit', edit_objective_path(@objective) %> |
<%= link_to 'Back', objectives_path %>
