<p id="notice"><%= notice %></p>

<p>
  <strong>Result:</strong>
  <%= @indicator.result %>
</p>

<p>
  <strong>Code:</strong>
  <%= @indicator.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @indicator.description %>
</p>

<%= link_to 'Edit', edit_indicator_path(@indicator) %> |
<%= link_to 'Back', indicators_path %>
